<div class="ui basic modal" id="deletePostModal">
    <div class="ui icon header">
        <i class="trash icon"></i>
        Delete <%=post.title%>
    </div>
    <div class="content">
        <p>Are You Sure You Wish To Delete <%=post.title%>?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
        </div>
        <form action="/posts/<%=post._id%>?_method=DELETE" method="POST" class="delete-form" id="delete-post">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </form>
    </div>
</div>