<div class="ui container" id="flash-messages">
        <%if(error && error.length>0){%>
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    SORRY YOU CANNOT PROCEED!
                </div>
                <p><%=error%></p>
            </div>
        <%}%>
        <%if(success && success.length>0){%>
            <div class="ui success message">
                <i class="close icon"></i>
                <div class="header">
                    Success!
                </div>
                <p><%=success%></p>
            </div>
        <%}%>
        <%if(logout && logout.length>0){%>
            <div class="ui warning message">
                <i class="close icon"></i>
                <div class="header">
                    You have been logged out!
                </div>
                <p><%=success%></p>
            </div>
        <%}%>
        
    </div>