<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyThink | Speak Your Mind and Heart </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="/js/lib/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.13/tinymce.min.js"></script>
</head>
<body>
    <header id="site-header" class="ui borderless menu">
        <div class="ui container">
            <h1 class="ui header">
                <a href="/" id="main-headline">
                    <i class="icon lightbulb outline"></i>MyThink
                </a>
            </h1>
            <div class="right menu">
                <div class="ui transparent left icon input" id="header-left-icon-input">
                    <input type="search" name="search" placeholder="Search Posts">
                    <i class="search icon"></i>
                </div>
                <%if(!user){%>
                    <a href="/login" class="item login-link" >Login</a>
                <%}else{%>
                    <div class="ui dropdown item login-link">
                        <div class="text"><%=user.username%></div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/posts/new" class="item">New Post</a>
                            <a href="#" class="item">Profile</a>
                            <div class="divider"></div>
                            <a href="/logout" class="item">Logout</a>
                        </div>
                    </div>
                <%}%>
                
            </div>
        </div>
    </header>
    <div class="ui container">
        <%if(error && error.length>0){%>
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    SORRY YOU CANNOT PROCEED!
                </div>
                <p><%=error%></p>
            </div>
        <%}%>
        <%if(success && success.length>0){%>
            <div class="ui success message">
                <i class="close icon"></i>
                <div class="header">
                    Success!
                </div>
                <p><%=success%></p>
            </div>
        <%}%>
        <%if(logout && logout.length>0){%>
            <div class="ui warning message">
                <i class="close icon"></i>
                <div class="header">
                    You have been logged out!
                </div>
                <p><%=success%></p>
            </div>
        <%}%>
        
    </div>
    
