<% include ../partials/header %>

<div class="ui container main-content">
    <div class="ui grid">
        <!-- Article intro -->
        <% include ../partials/article-intro %>
        <!-- Article body -->
        <% include ../partials/article-body %>
        <!-- Comments -->
        <% include ../partials/show-comments %>
    </div>
</div>
<!-- DELETE POST MODAL -->
<%include ../partials/delete-modal%>

<% include ../partials/footer %>